* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-size: 20px;
}

.title {
  margin-top: 50px;
  font-size: 80px;
}
.App {
  text-align: center;
  font-size: 80px;
}

.input {
  border: 5px black solid;
  height: 30px;

  width: 500px;
}

.add {
  color: white;
  background-color: turquoise;
  height: 40px;
  width: 80px;
  margin: 5px;
}

.item {
  text-decoration: none;
  list-style: none;
  margin: 5px;
  border: 5px black solid;
  font-size: 80;
  padding: 20px;
  border-radius: 20px;
}

.delete {
  background-color: rgb(122, 8, 8);
  color: white;

  font-size: 80;
  border-radius: 20px;
  padding: 20px;
  margin-left: 100px;
}
